.announcementContainer{
    background-color: #F0F0F0;
    height: 90vh;
    width: 100%; 
    display: flex;
    position: relative;
    overflow: hidden;
}

.divArrow{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    z-index: 2;
}
.divArrow.left{
    left: 20px;
}
.divArrow.right{
    right: 20px;
}
.divArrow span{
    background-color: #00C897;
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.wrapper{
    height: 100%;
    display: flex;
    transition: all 1.5s ease;
}
.divSlider{
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    transform: translateX(0vw);
}

.imageSlider{
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imageSlider img{
    height: 80%;
}

.infoSlider{
    flex: 1;
}
.infoSlider h2{
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 80px;
}
.infoSlider.orang h2{
    color: white !important;
}
.infoSlider p{
    font-size: 25px;
    line-height: 35px;
    margin: 20px 0 40px 0;
}
.infoSlider.orang p{
    color: white !important;
}
.infoSlider a{
    font-size: 25px;
    cursor: pointer;
    border: none;
    background-color: black;
    color: white;
    border-radius: 4px;
    letter-spacing: 2px;
    padding: 20px 60px;
}

.infoSlider.orang button{
    background-color: white;
    color: black;
}