.divContentOrder{
    display: flex;
    /* background: pink ; */
    padding: 100px 10%; 
}
.divContentOrder .orders{
    flex: 1;
}

.divContentOrder .method-payment{
    flex: 1;
    background: aqua;
    padding: 0 20px;
}
.divContentOrder h2{
    margin-bottom: 20px;
}

/* ************ ORDERS PRODUCT ********* */
.orderProducts{
    /* background: turquoise; */
    /* border: 1px solid red; */
    /* border-radius: 4px; */
    padding: 30px;
}

.orderProductItem{
    display: flex;
    /* border-radius: 4px; */
    align-items: center;
    margin-bottom: 5px;
    border-bottom: 1px solid #c9c9c9ab;
}

.orderProductItem:last-child{
    border-bottom: none;
}

.orderProductItem .removeItem{
    background: #f05;
    padding: 4px 8px;
    font-weight: bold;
    color: #FFFFFF;
    border-radius: 20px;
    margin-right: 20px;
    cursor: pointer;
    border: none;
}

.orderProductItem .productImage{
    /* background: #066163; */
    height: 110px;
    width: 110px;
    border: 1px solid #c9c9c947;
    border-radius: 4px;
}

.orderProductItem .productImage img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.orderProductItem .productSommary{
    /* background: violet; */
    width: calc(100% - 160px);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.orderProductItem .productSommary h3,
.orderProductItem .productSommary h4{
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.orderProductItem .productSommary h3{
    font-size: 25px;
}

.orderProductItem .productSommary h4{
    font-size: 20px;
}

.orderProductItem .productSommary .price{
    display: flex;
    flex-direction: column;
}

.orderProductItem .productSommary span.unitaire{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 10px;
}





/* *************Footer Container*************** */
.divCheckoutContainer .footerContainer{
    background: #0a2062;
}

.divCheckoutContainer .footerContainer a,
.divCheckoutContainer .footerContainer p,
.divCheckoutContainer .footerContainer h2,
.divCheckoutContainer .footerContainer svg path{
    color: #FFFFFF !important;
}