.divStatusCards{
    display: flex;
    flex-wrap: wrap;
}

.divStatusItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 12vw;
    margin: 0 20px 20px 0;
    border-radius: 4px;
    padding: 10px;
    transition: all ease .3s;
    cursor: pointer;
}

.divStatusItem:hover{
    transform: scale(.9);
    box-shadow: 0 8px 10px 0px #000;
}

.divStatusItem span{
    font-size: 65px;
    font-weight: bold;
    letter-spacing: 2px;
}

.divStatusItem h3{
    font-weight: normal;
    letter-spacing: 1px;
}

.divStatusItem.pending{
    background: yellow;
}

.divStatusItem.done{
    background: greenyellow;
}

.divStatusItem.warn{
    background: gold;
}

.divStatusItem.danger{
    background: #F05;
    color: #FFF !important;
}

.divStatusItem.danger h3,
.divStatusItem.danger span{
    color: #FFF;
}







.divStatProducts{
    display: flex;
    margin-top: 20px;
}
.divStatProducts div{
    flex: 1;
}


/* --------------------------------- */
/* --------------------------------- */
/* --------------------------------- */
.divCategories{
    margin: 50px 0;
    display: flex;
    flex-wrap: wrap;
}

.divCategories a{
    background: #f5f4f4d0;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 20px;
    margin: 0 20px 20px 0;
    border-radius: 4px;
    letter-spacing: 1px;
    transition: all ease .3s;
}

.divCategories a:hover{

}

/* --------------------------------- */
/* --------------------------------- */
/* --------------------------------- */






.divMoreVisited{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.divMoreVisited h2{
    width: 100%;
    margin-bottom: 20px;
    font-size: 30px;
    letter-spacing: 1px;
}
.divMoreVisited a{
    width: 5vw;
    height: 10vh;
    display: flex;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.divMoreVisited a img{
    width: 100%;
    object-fit: contain;
}