.navbarContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    height: 10vh;
    /* position: fixed; */
    z-index: 44;
    width: 96%;
    /* background-color: #FFF; */
}



/* 
.navbarContainer a,
.navbarContainer .divLogoHeader span,
.navbarContainer svg path {
    color: #FFF !important;
}

.navbarContainer.scrolled{
    background: #FFF;
}

.navbarContainer.scrolled a,
.navbarContainer.scrolled .divLogoHeader span,
.navbarContainer.scrolled svg path{
    color: #000000 !important;
} */




.divLogoHeader span{
    font-size: 60px;
    font-family: "Anto";
    font-weight: bold;
    letter-spacing: -4px;
}


.divLinkAuth a{
    padding:0 20px;
    font-size: 25px;
}